@charset "UTF-8";header,hgroup,section,nav,article,aside,footer{display:block}
time{font-weight:normal}
html,body{padding:0;height:100%;font-family:Helvetica, Arial, sans-serif;height:auto !important;height:100%;min-height:100%;margin:0 auto}
body{background:#f3f3f0 url(../images/tech_header-background.png) top center no-repeat;background-size:3000px}
a:hover{text-decoration:none}
a{color:#7e2930}
h2{margin:0 0 .1em 0;font-size:1.375em;color:#4c4c4c;line-height:1.5em}
h2 a{color:#7e2930}
h2 a:link, h2 a:visited {
text-decoration: none !important;
}
h2 a:hover,h2 a:active{text-decoration:none}
h3{padding:10px 0 12px 0;margin:0;font-size:1.125em}
h4{padding:10px 0 12px 0;margin:0;font-size:1em;color:#4c4c4c}
h5{padding:10px 0 12px 0;margin:0;font-size:.875em;color:#064d68}
em{font-style:italic}
input[type="text"],input[type="password"]{border:0;font-size:14px;padding:.5em;background:#fff;border:1px solid #e0dfdf;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:.8em}
input.block{margin-bottom:20px}
label{margin-top:.5em}
#showAddFormButton,#showAddFormButton:visited,input.submit,input.submit:visited,input#submit,input#submit:visited{background:#222 url(../images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 18px 7px;color:#fff;text-decoration:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;position:relative;border:0;margin:0;background-color:#7e2930;color:#fff;font-size:14px;font-weight:normal;line-height:1;margin-right:.6em;margin-top:.5em;margin-bottom:.5em;cursor:pointer}
input.delete,input.delete:visited,input#delete,input#delete:visited{background:#222 url(../images/alert-overlay.png) repeat-x;display:inline-block;padding:5px 18px 7px;color:#fff;text-decoration:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;position:relative;cursor:pointer;border:0;margin:0;background-color:#aaa;color:#fff;font-size:14px;font-weight:normal;line-height:1;margin-right:.6em}
#showAddFormButton:hover,input.submit:hover,input#submit:hover{color:#fff;background-color:#a4363f}
input.delete:hover,input#delete:hover{color:#fff;background-color:#c3c3c3}
#showAddFormButton:active,input.delete:active,input#delete:active,input.submit:active,input#submit:active{top:1px}
form textarea{border:1px solid #e0dfdf;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px}
.maxWidth{margin-top:20px;width:100%}
#authorships a.remove:link,#showAddForm a.cancel:link,form a:link.cancel,form a:visited.cancel{text-decoration:underline;color:#f70;border-color:none;padding-left:3px}
#authorships a.remove:hover,#authorships a.remove:active,#showAddForm a.cancel:hover,#showAddForm a.cancel:active,form a:hover.cancel,form a:active.cancel{text-decoration:none;color:#f70;background:none}
.validationError{font-weight:normal;color:#cc0000;margin-bottom:.3em}
p.submit{margin-top:0;padding-top:0}
.editingForm table{border-color:#dfe6e6}
.editingForm td{padding:3px}
.editingForm .entryFormHead{background-color:#f1f2ee;border-color:#dfe6e6}
.editingForm .entryFormHead h2{color:#4c4c4c}
.form-item{margin-top:.3em;background-color:#fff;border-color:#e0dfdf;font-size:.8em;border-width:1px;color:#595B5B;padding:.3em}
.navlinkblock{color:#5F6464}
.header{color:#5F6464}
.database_header{background-color:#f1f2ee;color:#7e2930;font-size:1em}
.database_upperleftcorner{color:#5F6464;font-size:1em}
.database_upperleftcenter{background-color:#B0C4DE;color:#5F6464;font-size:1em}
.rownumheader{background-color:#F1F2EE;color:#5F6464;font-size:1em}
.headercenter{color:#5F6464;font-size:10pt;font-style:normal;text-align:center}
.postheader{background-color:#E6E6FA;color:#777;font-size:1em}
.database_postheader{background-color:#f7f9f9;font-size:1em}
.postheadercenter{font-size:1em}
.postheaderright{font-size:1em}
.verticalfieldlabel{color:#5F6464;font-size:.8em}
.row,.rowvert{background-color:#f7f9f9;color:#5F6464;font-size:10pt;font-style:normal;text-align:left;line-height:2em}
.rowalternate{background-color:#fff;color:#5F6464;font-size:1em;line-height:2em}
.rowbold{background-color:#FFFAFA;color:#5F6464;font-size:1em}
.rownum{background-color:#F1F2EE;color:#5F6464;font-size:1em}
.form-background{background-color:#fff}
.formsEdit p{margin-bottom:1em;padding-bottom:0;margin-top:0}
.formsEdit p.validationError{margin-bottom:1.8em;margin-top:0;padding-top:0;font-size:.8em}
form.deleteForm{margin-top:2em;padding-top:1em;border-top:1px dotted #e3e9e9}
form h3.delete-entry{padding-right:.8em;display:inline}
form h2{margin-bottom:0;padding-bottom:10px}
form select{border:0;font-size:14px;padding:.5em;background:#fff;border:1px solid #e0dfdf;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:.8em;margin-top:.7em;margin-right:.5em}
.notice{margin-top:1em;border:1px dotted #FFD324}
a.ingestMenu:link,a.ingestMenu:visited{text-decoration:none;color:#5E6363}
a.ingestMenu:hover,a.ingestMenu:active{text-decoration:none;color:#7e2930}
#branding{position:relative;width:970px;height:114px;margin:0 auto}
a.vivo-logo{width:186px;height:110px;left:0;background:url(../images/VIVO_tagline_bottom.png) 0 0 no-repeat}
.lt-ie9 a.vivo-logo{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/vivo/themes/wcmc/images/VIVO_tagline_bottom.png', sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/vivo/themes/wcmc/images/VIVO_tagline_bottom.png',sizingMethod='scale')"}
a.wcmc-logo{width:320px;height:110px;background:url(../images/WCMC_white.png) 0 0 no-repeat;left:196px}
a.ctsc-logo{float:right;margin:0 2em;width:159px;height:102px;background:url(../images/ctsc-blue.png) 0 0 no-repeat;left:480px;display:block;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain}
.lt-ie9 a.ctsc-logo{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/vivo/themes/wcmc/images/ctsc-logo.png', sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/vivo/themes/wcmc/images/ctsc-logo.png',sizingMethod='scale')"}
h1.vivo-logo a{display:block;background-position:left center;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;position:absolute}
ul#header-nav{float:right;list-style:none;height:30px;padding-top:10px;margin-right:2px}
ul#header-nav li{float:left;display:block;padding-left:10px;padding-right:10px;border-right:1px solid #7c7d7f;font-size:.7em;color:#fff}
ul#header-nav li.last{border-right:none}
ul#header-nav li:last-child{padding-right:0;border-right:none}
ul#header-nav a{color:#fff}
ul#header-nav a:link,ul#header-nav a:visited{text-decoration:none}
ul#header-nav a:hover,ul#header-nav a:active{text-decoration:none;color:#999}
#search{position:absolute;width:360px;height:31px;top:40px;right:0px;padding-top:5px}
#search-field{width:360px;height:31px}
#search-field input.search{text-decoration:none;background-color:transparent;color:#fff;font-size:12px;line-height:12px;border:none;margin:0;padding:0 0 0 0;*padding-right:13px;cursor:pointer;float:left;width:66px;height:25px;text-align:center;background:#992800;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MjgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzdmMWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjE5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #992800 0%, #7f1f00 70%, #661900 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #992800), color-stop(70%, #7f1f00), color-stop(100%, #661900));background:-webkit-linear-gradient(top, #992800 0%, #7f1f00 70%, #661900 100%);background:-o-linear-gradient(top, #992800 0%, #7f1f00 70%, #661900 100%);background:-ms-linear-gradient(top, #992800 0%, #7f1f00 70%, #661900 100%);background:linear-gradient(to bottom, #992800 0%, #7f1f00 70%, #661900 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#992800', endColorstr='#661900',GradientType=0 )}
#search-field input.search:hover{background:#661900;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2MTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzdmMWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTI4MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #661900 0%, #7f1f00 30%, #992800 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #661900), color-stop(30%, #7f1f00), color-stop(100%, #992800));background:-webkit-linear-gradient(top, #661900 0%, #7f1f00 30%, #992800 100%);background:-o-linear-gradient(top, #661900 0%, #7f1f00 30%, #992800 100%);background:-ms-linear-gradient(top, #661900 0%, #7f1f00 30%, #992800 100%);background:linear-gradient(to bottom, #661900 0%, #7f1f00 30%, #992800 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#661900', endColorstr='#992800',GradientType=0 )}
input.search-vivo{float:left;width:279px;height:25px;border:0;font-size:14px;color:#5e6363;margin:0 0 0 6px;padding:0;-moz-border-radius:0;border-radius:0}
#search-form-modifier{display:none}
ul#main-nav{display:block;width:968px;height:46px;border:1px solid #dce4e3;background-color:#f7f9f9;margin:0 auto;list-style:none;font-size:1em;color:#706a66}
#main-nav li{float:left;line-height:46px;background:url(../images/separator-main-nav.jpg) right -2px no-repeat}
#main-nav li a{padding-left:16px;padding-right:16px;display:block;color:#706a66;text-decoration:none}
#main-nav li a:hover{color:#7e2930}
#main-nav li a.selected{color:#5E6363;font-weight:bold}
#wrapper-content{clear:both;width:930px;margin:0 auto;background:#fff;min-height:550px;padding:20px}
body.loggedIn #intro{width:98%}
#intro h2{margin:10px 0 12px 24px;border-bottom:none;color:#4c4c4c}
#intro p{font-size:18px;color:#5f6464;line-height:1.6em;padding:0 24px 0 24px}
#intro p:last-of-type{font-weight:bold}
#intro a{color:#7e2930}
.home #login{display:none}
#login h2{font-size:22px;color:#4c4c4c;padding-left:15px;padding-top:18px;border-bottom:none}
#error-alert{margin:0 12px;margin-bottom:12px;padding:12px;padding-bottom:12px;border:1px dotted #a12424}
#error-alert img{float:left;margin:0;padding:0;vertical-align:middle}
#error-alert p{padding-left:40px;font-size:.8em;line-height:1.3em;color:#a12424;padding-top:5px}
#login-form label{display:block;color:#5e6363;padding-top:0;padding-left:38px;font-size:14px}
#login-form input.text-field{border:0;font-size:14px;padding:5px;width:219px;height:24px;margin-left:38px;background:#fff;border:1px solid #e0dfdf;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
#login-form input.text-field:focus{border:1px solid rgba(57,138,172,0.5);background-color:rgba(57,138,172,0.1)}
#login-form p.external-auth {
    margin-top: 1em;
    text-align: left;
}
#login-form p.submit{width:100px;height:40px;margin-top:20px;margin-left:38px;float:none}
#login-form p.submit-password{height:40px;margin-top:20px;margin-left:38px}
#login-form input.checkbox-remember-me{float:left;height:14px;width:14px;color:#5e6363;padding:0;margin-top:33px;margin-left:20px}
#login-form label.label-remember-me{display:block;float:right;color:#5e6363;font-size:12px;width:100px;margin:0;padding:0;margin-top:29px;margin-right:32px}
p.forgot-password{clear:both;margin-left:38px;font-size:12px;padding-top:1.2em;padding-bottom:1.2em}
p.forgot-password a{color:#7e2930}
p.request-account{width:219px;clear:both;float:left;margin-left:38px;margin-top:10px;padding-top:20px;border-top:1px solid #e8ece9}
p.request-account a{color:#fff}
p.password-note{font-size:12px;color:#949696;padding-left:38px}
#flash-message{border:1px dotted #E2C822;background-color:#FFF9D7;padding:.5em;margin-bottom:10px}
#welcome-message{border:1px dotted #E2C822;background-color:#FFF9D7;padding:.25em;margin-bottom:8px}
#welcome-msg-container{margin-bottom:8px;margin-top:-10px;margin-right:-10px;height:34px}
#search-home{display:none}
#search-home h3{padding:0;font-size:18px;margin-bottom:10px;color:#a46e08}
#search-home-field{width:483px;height:44px;background:url(../images/search-field-and-button.gif) 0 0 no-repeat}
#search-home-field input.search{text-decoration:none;background-color:transparent;color:#fff;font-size:18px;line-height:18px;border:none;margin:0;padding:0 0 2px 0;*padding-right:13px;cursor:pointer;display:inline;width:110px;height:44px;text-align:center}
input.search-home-vivo{float:left;margin:2px 4px 0 4px;width:345px;height:20px;border:0;font-size:18px;color:#5e6363}
ul#browse-classes a.selected{font-weight:bold;position:relative;background:#f1f2ee}
ul#browse-classes a.selected:after,ul#browse-classes a.selected:before{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;margin-left:0;z-index:1}
ul#browse-classes a.selected:after{border-color:rgba(241,242,238,0);border-left-color:#f1f2ee;border-width:20px;top:50%;margin-top:-20px}
ul#browse-classes a.selected:before{border-color:rgba(92,92,92,0);border-left-color:#bbb;border-width:21px;top:50%;margin-top:-21px}
ul#browse-classgroups a.selected{font-weight:bold;position:relative;background:#f1f2ee}
ul#browse-classgroups a.selected:after,ul#browse-classgroups a.selected:before{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;margin-left:20px;z-index:1}
ul#browse-classgroups a.selected:after{border-color:rgba(241,242,238,0);border-left-color:#f1f2ee;border-width:20px;top:50%;margin-top:-20px}
ul#browse-classgroups a.selected:before{border-color:rgba(92,92,92,0);border-left-color:#bbb;border-width:21px;top:50%;margin-top:-21px}
ul#browse-classgroups a:hover{color:#7e2930}
ul#browse-classgroups a.selected:hover{color:#5E6363;cursor:default}
ul#classes-in-classgroup a:hover{color:#7e2930}
ul#classes-in-classgroup a.selected{color:#7e2930}
#visual-graph h5{color:#7e2930}
svg text:hover{color:#7e2930}
p.view-all{clear:both;width:200px;font-size:14px;text-align:right;color:#303e4e}
a.view-all-style{color:#303e4e}
.siteMap h2{margin:.5em auto .1em}
footer{clear:both;width:970px;margin:0 auto;font-size:.7em;color:#4e5051;background-color:#fff;border-top:1px solid #dadada;padding-top:1em;padding-bottom:1em}
footer:after{content:"";display:table;clear:both}
footer .copyright{float:left;margin:0;padding-top:10px;padding-left:30px;width:500px}
ul#footer-nav{float:right;list-style:none;margin:0;padding:0;padding-top:10px;padding-right:15px; display: none;}
ul#footer-nav li{float:left;display:block;padding-left:10px;padding-right:10px;border-right:1px solid #c9c8c8}
ul#footer-nav li:last-child{border-right:none}
#footer-nav a{color:#4c4c4c}
#footer-nav a:hover{color:#7e2930;text-decoration:none}
a.terms{color:#4c4c4c;text-decoration:underline}
a.terms:hover{color:#4e5051;text-decoration:none}
a.powered-by-vivo{color:#4c4c4c;text-decoration:none;text-decoration:underline}
a.powered-by-vivo:hover{color:#4e5051;text-decoration:none}
p{margin-bottom:1.3em;line-height:1.4}
#footer_logos{float:left;margin:0 0 0 25px;width:500px}
#footer_logos ul{margin:0;padding:0;display:block;height:37px}
#footer_logos ul li{margin:0;padding:0 15px 0 0;list-style:none;display:inline}
.navigation{height:35px}
button,.button{background:#eee;background:linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );border:1px solid #ccc !important;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;color:#333;font-size:.8em;font-weight:bold;display:inline-block;margin:0;padding:.3em .8em;font-family:"Lucida Grande", "Helvetica", sans-serif;line-height:1.5em}
button:hover,.button:hover{background:#f0f0f0;background:linear-gradient(to top, #fff 0%, #f2f2f2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );color:#333}
select.button{height:2.2em}
.button[class*="ss-"]:after{position:relative;top:.15em;font-size:1.25em;display:block;float:right;margin-left:.5em}
.blue{color:#7e2930}
.menu{margin-left:10px !important}
.menu li{list-style:none;margin:0;padding:0;margin-bottom:0.75em}
.menu li li{list-style:none}
.menu li a{color:#444}
.menu li a:hover{color:#900}
.menu li.question p a{color:#900}
.menu li.question p a:hover{color:#036}
ul.menu li.question:before{content:"» ";margin-left:-10px}
ul.menu li.question{list-style:none}
ul.menu li.question:before{content:"\00BB \0020";margin-left:-10px}
div.list ul li ul,div.list ul li ul li{margin:0 !important;padding:0 !important}
div.list li p{background:none repeat scroll 0 0 #F9F9F9;border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE;font-size:0.9em;margin:10px 0 0 0;padding:5px 30px 5px 15px;position:relative;width:580px}
span.close a{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #EEEEEE;color:#0E5D86 !important;display:block;font-family:Helvetica,Arial;font-size:0.7em;line-height:2.0em;height:10px;left:600px;padding:0 4px 3px;position:absolute;text-align:center;text-decoration:none !important;top:5px}
.pagination li.selectedNavPage{color:#c7a26d}
.rdfLink a{color:#7e2930}
.individualList ul.individualData li{border-right:solid 1px #a0a0a0}
.individualList ul{margin-left:0}
.individualList li,.individualList li span{color:#9c9c9c}
.individualList li a{font-weight:normal;color:#7e2930}
#menupage-intro{width:920px;background:#fff;margin-bottom:0}
#menupage-intro h2{font-size:1.375em;color:#4c4c4c;font-weight:normal;padding:0 0 0 25px}
#menupage-intro.people h2{float:left}
#menupage-content.people{border-right:1px solid #e8ece9}
#menupage-content{width:900px}
#menupage-content h3{font-size:1.5em;color:#a46e08;font-weight:normal;border-bottom:1px solid #f3f3f4}
#menupage-content h4{font-size:1.25em;color:#7e2930;font-weight:normal}
ul#vgraph-classes li{border-bottom:1px solid #dde4e3;font-size:1em}
ul#vgraph-classes a{color:#5e6363;text-decoration:none}
ul#vgraph-classes a:hover{background:url(../images/arrow.gif) 0 10px no-repeat;color:#7e2930}
ul#vgraph-classes a.selected{color:#7e2930;background:url(../images/arrow.gif) 0 10px no-repeat}
ul#vgraph-classes .count-classes{font-size:.75em}
#find-by h3{font-size:1.125em;color:#a46e08;font-weight:normal}
ul#find-filters a{color:#5e6363;margin-top:0.1em;text-decoration:none}
ul#find-filters a:hover{color:white;background-color:#7e2930}
ul#find-filters a.selected{color:#7e2930;background:url(../images/arrow.gif) 0 5px no-repeat}
#researchers{width:920px;background:#f7f9f9;border:1px solid #d7e6e6}
#researchers h3{font-size:1.25em;color:#a46e08;font-weight:normal;background:url(../images/arrow.gif) 140px 27px no-repeat}
#researchers p{font-size:1.125em;color:#5e6363}
#researchers-slider{border:1px solid #e8e8e8;background:#fff}
#alpha-display{font-size:4.375em;text-align:center;float:left;color:#7e2930;border-right:1px dotted #dde4e3;font-weight:bold}
#profile-photo-display{width:600px}
#profile-photo-display img{border:1px solid #dde4e3}
#nav-display p{font-size:26px;color:#7e2930}
#nav-display img{border-left:1px solid #e8e8e8}
#browse-by{width:920px}
#browse-by h2{background:#4c4c4c;font-size:1.375em;color:#fff}
ul#browse-classes{border:1px solid #dde4e3;background-color:#f1f2ee;margin-top:36px}
ul#browse-classes li{border-bottom:1px solid #dde4e3;font-size:1em}
ul#browse-classes a{color:#5e6363;text-decoration:none}
ul#browse-classes a:hover{color:#7e2930}
ul#browse-classes a.selected{font-weight:bold}
ul#browse-classes a.selected:hover{color:#5E6363;cursor:default}
ul#browse-classes .count-classes{font-size:12px}
h3.selected-class{display:none}
.pagination{margin-left:2.3em}
ul#alpha-browse-individuals{border:1px solid #dde4e3;background-color:#fff;border-left:1px solid #dde4e3;border-bottom:none;width:618px}
ul#alpha-browse-individuals li{font-size:.8em;line-height:2.5em}
ul#alpha-browse-individuals a{color:#5e6363;text-decoration:none}
ul#alpha-browse-individuals a:hover{color:#7e2930;text-decoration:underline}
ul#alpha-browse-individuals a.selected{font-weight:bold;text-decoration:none}
ul#alpha-browse-individuals a.selected:hover{cursor:default;color:#5E6363}
ul#alpha-browse-individuals .count-classes{font-size:.75em}
.alphaIndex{font-size:.8em}
#individuals-in-class{width:630px;border:1px solid #dde4e3;border-left:0;background-color:#fff;-moz-box-sizing:border-box;box-sizing:border-box}
#individuals-in-class li.individual{border-bottom:1px solid #dde4e3}
#individuals-in-class li img{border:2px solid #dde4e3}
#individuals-in-class li h1{color:#5e6363;font-size:1em}
.pagination.menupage{font-size:.8em}
.pagination.menupage li.selected{color:#7e2930}
.pagination.menupage li.selected:hover{background-color:#DDD;cursor:default}
.pagination.menupage li a{text-decoration:none}
.pagination.menupage li a:hover{background:transparent;line-height:1.5em;color:white}
#photoUploadDefaultImage img{border:4px solid #DDE4E3}
#photoUploadForm{border-left:1px dotted #DDE4E3}
#photoCropping img{border:1px solid #DDE4E3}
#photoCropping{margin-left:20px;padding-left:40px;background:url(../images/pointToCropPreview.jpg) 0 30px no-repeat}
#photoCroppingPreview{width:210px}
.photoCroppedPreview{border:4px solid #DDE4E3}
#photoDeletingContainer{border:1px solid #bdbcbc}
#admin{background-color:rgba(126,41,48,0.1)}
#admin h3{background:#7e2930;color:#fff}
#admin .uri-link{color:#888c8c}
#admin a{color:#7e2930}
.preferred{padding-top:.2em}
#individual-intro h1{font-size:1.5em;color:#7e2930;line-height:1.5}
#individual-intro h1 span.fn{border-right:1px solid grey;padding-right:1px}
#individual-intro span.preferred-title{font-size:.825em;color:#5e6363;border-left:1px solid #A6B1B0}
#individual-intro span.display-title{font-size:.825em;font-weight:100;color:#5e6363}
ul#individual-tools{color:#7e2930}
#individual-intro ul.individual-urls li a{color:#7e2930}
h2#mainImage,#share-contact h2{color:#4c4c4c}
img.individual-photo{border:7px solid #ebebeb}
ul#individual-tools-people, #manageGrantLink, #managePubLink {
display: none;
}
ul#individual-tools-people li a{color:#7e2930}
ul#individual-tools{color:#7e2930}
ul#individual-tools li a{color:#7e2930}
ul#individual-tools-people li{float:none}
#share-contact a.email{text-decoration:none;color:#5E6363}
#share-contact a.tel{color:#5f6464}
#share-contact{text-align:right;max-width:220px}
#share-contact h6 {
margin-bottom: 0.3em;
}
ul.individual-urls{list-style:url(../images/individual/arrow-grey.gif)}
ul#individual-email,ul#individual-phone{list-style-type:none}
ul#individual-email li,ul#individual-phone li{line-height:1.6em}
ul#individual-email li:last-child{margin-bottom:15px}
ul.individual-urls li{font-size:.875em;line-height:1.6em}
ul.individual-urls li a{color:#7e2930}
ul.individual-urls-people{list-style:none}
ul.individual-urls-people li a{text-decoration:none}
#individual-info{color:#5e6363}
#individual-info a{border-bottom:1px dotted rgba(126,41,48,0.5)}
#individual-info a:hover{border-bottom:none}
#individual-info h1.fn{color:#393D3D}
#personInPosition{display:none}
h1.fn .preferred-title{font-size:.825em;color:#5e6363;border-left:1px solid #a6b1b0}
#individual-info h2{color:#4c4c4c;font-size:1em;font-weight:bold}
#individual-info h3{font-size:1.125em;line-height:1.2em}
ul#individual-personInPosition{font-size:1em}
ul#individual-personInPosition li{line-height:1.4em;margin-bottom:1em}
ul#individual-personInPosition li a{color:#7e2930}
.individual-overview{font-size:1em;padding-right:0px;padding-top:0px;width:100%}
ul#individual-hasResearchArea{padding-bottom:24px}
ul#individual-hasResearchArea li{border-right:1px solid #A6B1B0}
ul#individual-hasResearchArea li:last-child{border-right:none}
ul#individual-hasResearchArea li a{color:#7e2930}
#visualization h3{font-size:1.25em;color:#a46e08}
.publication-year-range{font-size:.875em}
a.all-vivo-publications{font-size:.875em;color:#5e6363}
.publication-type{font-size: 0.8em; display: inline-block; padding: 0.2em 0.4em; line-height: 1.2; background:#ccc;font-weight:bold;}
a.moreless-type{background:#ccc;padding:.15em .5em;font-weight:bold;font-size:.9em;color:rgb(89,91,91);border-radius:5px;}
a.getit-type{background:#7e2930;font-weight:bold;color:#ffffff;font-size: 0.8em; padding: 0.2em 0.4em; line-height: 1.2;}
a.getit-type:hover {background: #b31b1b !important;}
#temporal-graph h3 a{color:#7e2930;font-size:.8em !important;text-decoration:underline}
img.co-author{border:2px solid #ebebeb}
#co-authors h3{font-size:1.25em;color:#a46e08}
p.view-all-coauthors{font-size:.875em}
#property-group-menu{width:920px;background:#f1f2ee}
#property-group-menu ul{color:#5e6363;font-size:1em}
#property-group-menu li{background:url(../../../images/individual/separator-property-group-nav.jpg) right 10px no-repeat}
#property-group-menu a{color:#5e6363;text-decoration:none}
#property-group-menu a:hover{color:#002b44}
#property-group-menu li:last-child{background:none}
.property-group{width:920px;background:#fff}
section.property-group h2{font-size:1.35em;color:#4c4c4c;font-weight:bold;border-bottom:2px solid #7e2930;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-ms-transition:all .5s linear;-o-transition:all .5s linear;transition:all .5s linear}
section.property-group h2.targeted{background-color:#7e2930;color:white}
article.property{margin:1em 0;border:none}
article.property a{border-bottom:1px dotted rgba(126,41,48,0.5)}

article.property a:hover {
    background: #fffccc;
}

article.property h3{font-size:1.063em;color:#333;font-weight:bold;padding:0;border:none}
.property.inline-block h3{display:inline-block;margin-right:.5em}
.property.inline-block ul{display:inline-block}
article.property ul.property-list li.subclass h3{color:#4c4c4c;font-weight:bold}
article.property .data-property-statement{background:#fff;font-size:1em;color:#5e6363}
article.property ul.property-list{font-size:1em;color:#5e6363;list-style:circle;padding:0;list-style-position:inside}
article.property ul.property-list li{padding-left:0; line-height:1.6em}
.grey{color:#5e6363}
.displace{position:absolute;left:-9999px}
.middle{vertical-align:middle}
.edit-individual{border-left:1px dotted #B2D15A}
#adminDashboard .pageBodyGroup{padding:0 1em .5em 1em}
#adminDashboard .pageBodyGroup h3{background-color:#fff;border-bottom:1px dotted #AFB2B2;font-weight:bold;padding:.625em;color:#a46e08;margin-bottom:.625em}
#adminDashboard .pageBodyGroup ul{margin:0 0 1em .6em}
#adminDashboard .pageBodyGroup h4{color:#5E6363;font-size:1em;margin-left:.6em;font-weight:bold}
#revision-build-date{border-left:1px solid #DFE6E6}
#revision-build-date h3{color:#a46e08}
#revision-levels caption{font-size:18px;color:#7e2930}
#revision-levels th{font-weight:bold;border:1px solid #DFE6E6}
#revision-levels td{border:1px solid #DFE6E6}
#terms h3{color:#a46e08}
#noPubsOrGrants-header{font-size:1.375em;color:#7e2930;line-height:1.3em;padding-top:15px;padding-bottom:10px}
#noPubsOrGrants-span{font-size:22px}
#noPubsOrGrants-span a{color:#7e2930;font-size:16px}
.ie-alert{color:#f00;font-weight:bold}
#find-by{float:right;margin:0 1.1em 1em 0;padding:8px 8px 8px 5px}
ul#find-filters li{padding:0}
ul#find-filters a{padding:0 12px}
.pagination li.round:hover{background-color:#7e2930}
#browse{border:none;background:transparent}
#browse h4{height:auto;margin-bottom:0;line-height:1.5em;color:#5E6363;background:transparent;display:none}
ul#browse-classgroups{list-style:none}
ul#browse-classgroups a{padding:4px 0 4px}
.property-group{margin:auto 0 2em;border:none}
section.property-group h2{margin:1em 1em 0 0;padding:0;text-transform:uppercase}
article.property ul.subclass-property-list{margin-left:1.1em;list-style-type:circle}
article.property ul.subclass-property-list li{padding:0}
#individual-intro{margin-top:0}
#share-contact{width:auto;padding-right:0;margin-right:1.5em}
#share-contact h2{font-weight:bold;padding:0;margin-top:.75em}
#share-contact h6{font-weight:bold}
#individual-intro h1{font-size:1.8em; line-height: 1.3;}
#individual-intro span.display-title{margin-left:0px}
#qrIcon{display:none}
#individual-intro.person #individual-info{width:73%}
#property-group-menu{margin:0 0 20px;border:1px solid #ddd}
img.individual-photo,#photo-wrapper{float:none}
img.individual-photo{margin:0}
.collaboratorship-icon{float:none;padding:0}
.collaboratorship-link{width:174px;height:30px;display:block}
.collaboratorship-link a{display:block}
.collaboratorship-link-container{width:auto;display:inline-block}
ul#individual-phone {
list-style: none;
margin-top: 0 !important;
margin-bottom: 0 !important;
}
ul#individual-phone li {
margin-top: 6px;
}
ul#individual-phone li:first-child{margin:0}
ul#individual-relatedBy {
list-style-type: circle;
padding-left: 20px;
}
ul#individual-relatedBy li {
line-height: 1.4em;
margin-bottom: 0.9em;
}
#visualization{padding:0;float:none}
ul#individual-tools-people{padding-bottom:0}
ul#individual-tools-people li{margin-bottom:0;padding:0}
.group-controls{float:right;margin:.75em 1.25em 0 0}
.more-less{margin-top:1em}
#scopusId{line-height:2}
#scopusIdList li{display:inline}
.add-individual{vertical-align:-2%}
h3 .add-individual[src$="manage-icon.png"]{-webkit-filter:brightness(0.5);-moz-filter:brightness(0.5)}
a.manageLinks{float:none;display:inline-block}
.investigator_name,.author_name{color:#59595b;text-decoration:none}
#profileTitle{background-color:#7e2930}
a.more-less, a.moreless-type, a.getit-type, a.wcmcUriIcon, img.edit-individual, img.add-individual {border-bottom: none !important;}
a[name] {border-bottom: none !important; font-weight:bold; color: #333;}
li a[name] {border-bottom: none !important; color: rgb(89, 91, 91);font-weight: normal;}
a[class*="add"], a[class*="edit"], a[class*="delete"] {border-bottom: none !important;}
h2#preferredTitle {font-weight: bold;font-size: 1em;display: inline;}
.scroll-up {display: none;}
#hasResearcherRole, .add-hasResearcherRole {display: none;}
.individual-overview ol li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
}

ul#relatedByAuthorshipList.property-list,
ul#hasMeshMajornoRangeClassList,
ul#hasMeshnoRangeClassList.property-list,
ul#hasSubjectAreanoRangeClassList  
{margin-bottom: 20px;
margin-top: 6px;}


