.conflicts-explanation {
	margin-top: -5px;
	margin-right: 10px;
}

#grid-container {
	display: grid;
	grid-template-columns: 250px 500px;
	grid-gap: 18px;
	padding: 10px;
	margin-top: 28px;
	background: transparent;
}

#externalRelationships {
	display: none;
}

ul#externalRelationshipsnoRangeClassList {
	list-style-type: none !important;
	padding: 0;
}

#grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: right;
	padding: 0;
}

.conflicts-list {
	text-align: left !important;
}

.conflicts-description {
	text-align: right !important;
	font-weight: bold;
	margin-top: 0px;
}

.tooltip {
	position: relative;
	display: inline-block;
	margin-right: 0px !important;
	font-weight: bold;
}

#tooltip-what {
	color: #000 !important;
	border-bottom: 0px !important;
}

.whatisthisquestion {
	margin-bottom: -5px;
	margin-right: 5px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 470px;
	background-color: #fff;
	text-align: left;
	font-weight: normal;
	line-height: 1.4em;
	border-radius: 6px;
	border: 1px #ccc solid;
	padding: 20px;
	position: absolute;
	z-index: 1;
	top: 140%;
	left: 10%;
	margin-left: -80px;
	border-radius: 2px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border: 1px #ccc solid;
	border-color: transparent transparent green transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}